
@{
    ViewBag.Title = "Added";
}

<h2>You succesfully added the movie to your shopping cart</h2>

<a href="~/Home/Index" class="btn btn-success"> Continue shopping</a>
<a href="~/Shoppingcart/Index" class="btn btn-success"> Go to cart</a>

